
/*clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

nav, p, footer {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

h1, .button, h2, h3, .show-more-link a, .share a {
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

/*to make the header responsive - make max-width of 1200px and then make width 100% so make it fill up full space of container but not let it get bigger than 1200*/
.container {
	max-width: 1200px;
	width: 100%;
	height: 70px;
	margin: auto;
}

.navigation li {
	display: inline-block;
}

nav a {
	font-size: 16px; 
	color: rgba(0,0,0, .5);
	padding: 30px 20px;
}

nav a:hover {
	border-bottom: solid 2px #f63c3c;
	color: #f63c3c;
}

.mobile_nav {
	float: right;
	display: none;
}

.logo {
	display: inline-block;
}

.logo img {
	height: 70px;
	width: 70px;
	margin-left: 15px;
}

.navigation {
	float: right;
	margin-bottom: none;
	margin-top: 22px; 
}

.main{
	width: 100%;
}

.carousel {
	text-align: center;
	height: 1012px;
	width: 100%;
	background-image: url(../img/Hero_Background.png);
	background-size: cover; 
}

.content .active {
	display: block;
	margin: auto;
}

.content li {
	list-style: none;
	display: none;
}

.content h1 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 120px;
	font-weight: 300;
	color: #fff;
	height: 255px;
	line-height: 1.2em;
	padding-top: 310px;
	padding-bottom: 58px;
}

.content p {
	font-size: 22px;
	color: rgba(255, 255, 255, .7);
	font-weight: 300;
	width: 730px;
	margin: auto;
	padding-bottom: 50px;
	line-height: 1.2em;
	height: 100%;
}

.content .button {
	display: block;
	width: 270px;
	margin: auto;
	background: #fff;
	padding: 20px 50px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

.myprojects {
	text-align: center;
}

.myprojects h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 4px;
}

article {
	float: left;
	width: 48%;
	border-sizing: border-box;
	padding: 1%;
}

article img {
	width: 100%;
}

article h3 {
	padding-top: 25px;
}
article h3 a {
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 3px;
}

article p {
	padding-top: 20px;
	color: #555;
	width: 500px;
	margin: auto;
}

figcaption {
	display: none;
}

.show-more-link {
	padding-top: 55px;
	padding-bottom: 75px;
}

.show-more-link a {
	font-size: 20px;
	color: #f63c3c;
	border-bottom: solid 3px #f63c3c;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.Showcase_CTA {
	height: 240px;
	background-color: #f63c3c;
	text-align: center;
}

.Showcase_CTA h2 {
	font-weight: 300;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;	
	letter-spacing: 3px;
	padding-top: 40px;
}

.Showcase_CTA p {
	font-size: 16px;
	color: rgba(255, 255, 255, .7);
	padding-top: 20px;
	margin-bottom: 20px;
}

.Showcase_CTA .button {
	display: block;
	width: 270px;
	margin: auto;
	background: #fff;
	padding: 20px 50px;
	color: #685157;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

.share {
	height: 500px;
	background-color: #fafafa;
}

.container2 {
	max-width: 1200px;
	margin: auto;
	width: 100%;
}

.container2 h2 {
	text-transform: uppercase;
	letter-spacing: 2px;	
	font-size: 40px;
	color: #000;
	padding-top: 65px;
}

.container2 p {
	font-size: 16px;
	color: #555;
	font-weight: 300;
	padding-bottom: 60px;
	padding-top: 20px;
}

.container2 li {
	display: inline-block;
    background-color: #30282a ;
    padding: 50px 70px;
    text-align: center;
    width: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.container2 li a {
	color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    margin: auto;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
}

li .fa {
	font-size: 40px;
	padding-bottom: 10px;
}

footer {
	height: 55px;
	color: #555;
	font-size: 13px;
	text-align: left;
	padding-left: 200px;
	margin-top: 50px;
}



/*when screen gets narrower than 730px (width of nav)*/
@media screen and (max-width:730px) {
	.navigation {
		display: none;
	}
		
	.mobile_nav {
		display: block;
	}

	article {
		width: 100%;
		padding: 0;
		margin-bottom: 20px; 
	}

	.pagination, .carousel {
		display: none;
	}

	.show-more-link {
		background-color: black;
		text-align: center;
		width: 100%;
	}

	.show-more-link a {
		border-bottom: none;
		color: white;
	}
	
	/*.container2 li a {
		display: none;
	}*/

}

@media screen and (max-width: 1025px) {
	.content h1 {
		font-size: 60px; 
		padding-top: 200px;
	}

	.container2 li {
		padding: 0;
		background-color: transparent;
	}

	.container2 li a {
		color: black;
	}
	
	.footer {
		text-align: center; 
		padding: 0;
	}
}

